{% extends "AppTP/padre.html" %}

{% load static%}

{% block titulo %}

Formulario

{% endblock %}

{% block link %}

<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="btn btn-primary" href={% url "Inicio" %} >Volver a Inicio</a>
    </div>
</nav>

{% endblock %}

{% block contenidoquecambia %}

<h1>Formulario</h1>
    
    {% if form.errors %}
        <p style="color: red;"> {{ form.errors}} </p>
    {% endif %}

    <form action="" method="POST"> {% csrf_token %}

        <table>
            
            {{ form.as_table }}

        </table>

        <input type="submit" value="Enviar">

    </form>

{% endblock %}