{% extends "AppTP/padre.html" %}

{% load static%}

{% block titulo %}

Ver Cliente

{% endblock %}

{% block link %}

<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="btn btn-primary" href={% url "Inicio" %} >Volver a Inicio</a>
    </div>
</nav>

{% endblock %}

{% block contenidoquecambia %}

<h1>Ver Cliente</h1>
    
<ul>

    <li>Nombre: {{cliente.nombre}} </li>
    <li>Cuil: {{cliente.apellido}}</li>
    <li>Provincia: {{cliente.dni}}</li>
    <li>Provincia: {{cliente.email}}</li>

</ul>

{% endblock %}